p{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    color: white;
    /* background-color: rgb(9, 182, 182, 0.7);
    border-radius: 10px; */
}
.hoaDivInfo{
    background-color: rgb(9, 182, 182, 0.7);
    border-radius: 10px;
}
.editedHoaInfo p{
    background-color: rgb(9, 182, 182, 0.7);
    border-radius: 10px;
}
.HoaSearch{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
    color: white;
    /* background-color: rgb(9, 182, 182, 0.7);
    border-radius: 10px; */
}
.saveChangeButton{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(9, 94, 94, 0.7);
    border-radius: 10px;
    /* padding: 5px 43px; */
    cursor: pointer;
}
.editHoaButton{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(9, 94, 94, 0.7);
    border-radius: 10px;
    /* padding: 5px 43px; */
    cursor: pointer;
}
.selectHoaButton{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(9, 94, 94, 0.7);
    border-radius: 10px;
    /* padding: 5px 43px; */
    cursor: pointer;
}
.addFavButton{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(9, 94, 94, 0.7);
    border-radius: 10px;
    /* padding: 5px 43px; */
    cursor: pointer;
}