.commentRender{
    white-space: pre-wrap;
}
.commentSaveChange{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(9, 94, 94, 0.7);
    border-radius: 10px;
}
.renderStuff{
    background-color: rgba(9, 182, 182, 0.7);
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}
.editComment{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(9, 94, 94, 0.7);
    border-radius: 10px;
}
.deleteComment{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(9, 94, 94, 0.7);
    border-radius: 10px;
}
.addCommentsButton{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(9, 94, 94, 0.7);
    border-radius: 10px;
}